@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Jetson I Fast build Admin dashboard for any platform</title>
    <meta name="description" content="Ticketeira é uma aplicação para comercialização de bilhetes de eventos esportivo." />
    <meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Jetson Admin, Jetsonadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
    <meta name="author" content="hencework" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- vector map CSS -->
    <link href="~/jetsonFiles/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!--alerts CSS -->
    <link href="~/jetsonFiles/vendors/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="~/jetsonFiles/dist/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->

    <div class="wrapper pa-0">
        <header class="sp-header">
            <div class="sp-logo-wrap pull-left">
                <a href="index.html">
                    <img class="brand-img mr-10" src="~/jetsonFiles/dist/img/logo.png" alt="brand" />
                    <span class="brand-text">Ticketeira</span>
                </a>
            </div>
            <div class="form-group mb-0 pull-right">
                <span class="inline-block pr-10">Você ainda não tem conta?</span>
                <a class="inline-block btn btn-info  btn-rounded btn-outline" href="@Url.Action("Cadastra", "Home")">Cadastrar</a>
            </div>
            <div class="clearfix"></div>
        </header>

        <!-- Main Content -->
        <div class="page-wrapper pa-0 ma-0 auth-page">
            <div class="container-fluid">
                <!-- Row -->
                <div class="table-struct full-width full-height">
                    <div class="table-cell vertical-align-middle auth-form-wrap">
                        <div class="page-wrapper ml-auto mr-auto no-float">
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <div class="col-md-12">
                                        <div class="panel panel-default card-view">
                                            <div class="panel-heading">
                                                <div class="pull-left">
                                                    <h6 class="panel-title txt-dark">Cadastre-se</h6>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="panel-wrapper collapse in">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-xs-12">
                                                            <div class="form-wrap">
                                                                <form class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputuname_3" class="col-sm-3 control-label">Usuario*</label>
                                                                        <div class="col-sm-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="icon-user"></i></div>
                                                                                <input type="text" class="form-control" id="user" placeholder="Usuário">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail_3" class="col-sm-3 control-label">Email*</label>
                                                                        <div class="col-sm-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="icon-envelope-open"></i></div>
                                                                                <input type="email" class="form-control" id="userEmail" placeholder="E-mail">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail_3" class="col-sm-3 control-label">Nome*</label>
                                                                        <div class="col-sm-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="icon-user"></i></div>
                                                                                <input type="text" class="form-control" id="userName" placeholder="Nome">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="exampleInputpwd_32" class="col-sm-3 control-label">Senha*</label>
                                                                        <div class="col-sm-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="icon-lock"></i></div>
                                                                                <input type="password" class="form-control" id="userPassword" placeholder="Digite a senha">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputpwd_4" class="col-sm-3 control-label">Confirmar Senha*</label>
                                                                        <div class="col-sm-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="icon-lock"></i></div>
                                                                                <input type="password" class="form-control" id="userPasswordConf" placeholder="Digite novamente a senha">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputpwd_4" class="col-sm-3 control-label">Endereço*</label>
                                                                        <div class="col-sm-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="icon-location-pin"></i></div>
                                                                                <input type="text" class="form-control" id="UserAddress" placeholder="Endereço">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputpwd_4" class="col-sm-3 control-label">Número*</label>
                                                                        <div class="col-sm-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="icon-direction"></i></div>
                                                                                <input type="number" class="form-control" id="userNumber" placeholder="Número">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputpwd_4" class="col-sm-3 control-label">Complemento</label>
                                                                        <div class="col-sm-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="icon-home"></i></div>
                                                                                <input type="text" class="form-control" id="userAddress2" placeholder="Complemento">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputpwd_4" class="col-sm-3 control-label">CEP</label>
                                                                        <div class="col-sm-9">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="icon-compass"></i></div>
                                                                                <input type="text" class="form-control" maxlength="8" id="userCep" placeholder="Digite o CEP">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputpwd_4" class="col-sm-3 control-label">Estado</label>
                                                                        <div class="col-sm-9">
                                                                            <select class="form-control" id="userEstadoSelect">
                                                                                <option id="noSelect">---Seleciona um Estado---</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputpwd_4" class="col-sm-3 control-label">Cidade</label>
                                                                        <div class="col-sm-9">
                                                                            <select class="form-control" id="userCidadeSelect">
                                                                                <option id="noSelect">---Seleciona uma Cidade---</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group mb-0">
                                                                        @*<div class="panel-wrapper collapse in">
                                                                            <div class="panel-body">
                                                                                <img src="~/jetsonFiles/dist/img/sweetalert/alert5.png" alt="alert" class="img-responsive model_img" id="sa-params">
                                                                                <button type="button" class="btn btn-info" id="btnCadastrar">Cadastrar</button>
                                                                            </div>
                                                                        </div>*@
                                                                        <div class="col-sm-offset-3 col-sm-9">
                                                                            <button type="button" class="btn btn-info" id="btnCadastrar">Cadastrar</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Row -->
            </div>

        </div>
        <!-- /Main Content -->

    </div>

    @*<div class="sweet-alert hideSweetAlert" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: none; margin-top: -167px; opacity: 0;">
        <div class="sa-icon sa-error" style="display: block;">
            <span class="sa-x-mark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div><div class="sa-icon sa-warning" style="display: none;">
            <span class="sa-body"></span>
            <span class="sa-dot"></span>
        </div><div class="sa-icon sa-info" style="display: none;"></div><div class="sa-icon sa-success" style="display: none;">
            <span class="sa-line sa-tip"></span>
            <span class="sa-line sa-long"></span>

            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
        </div><div class="sa-icon sa-custom" style="display: none;"></div><h2>Cancelled</h2>
        <p style="display: block;">Your imaginary file is safe :)</p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset><div class="sa-error-container">
            <div class="icon">!</div>
            <p>Not valid!</p>
        </div><div class="sa-button-container">
            <button class="cancel" tabindex="2" style="display: none; box-shadow: none;">Cancel</button>
            <div class="sa-confirm-button-container">
                <button class="confirm" tabindex="1" style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">OK</button><div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- /#wrapper -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="~/jetsonFiles/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Owl JavaScript -->
    <script src="~/jetsonFiles/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <!-- Switchery JavaScript -->
    <script src="~/jetsonFiles/vendors/bower_components/switchery/dist/switchery.min.js"></script>

    <!-- Sweet-Alert  -->
    <script src="~/jetsonFiles/vendors/bower_components/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/jetsonFiles/dist/js/sweetalert-data.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/jetsonFiles/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/jetsonFiles/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/jetsonFiles/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="~/jetsonFiles/dist/js/jquery.slimscroll.js"></script>

    <!-- Init JavaScript -->
    <script src="~/jetsonFiles/dist/js/init.js"></script>



    <script type="text/javascript">
        var cidade = "";
        $(document).ready(function () {
            carregaEstados();

            $("#userCep").keyup(function () {
                if ($("#userCep").val().length >= 8) {
                    var teste = "https://viacep.com.br/ws/" + $("#userCep").val() + "/json/";

                    $.ajax({
                        type: "GET",
                        url: teste,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data, status) {
                            $("#UserAddress").val(data.logradouro);
                            validaEstado(data.uf);
                            cidade = data.localidade;
                        }

                    });
                }
            });

            $("#userEstadoSelect").change(function () {
                carregaCidades($("#userEstadoSelect option:selected").attr('id'));
            });

            $("#btnCadastrar").click(function () {
                var usuarioObj = ObjUsuario();

                usuarioObj.setUser($("#user").val());
                usuarioObj.setPassword($("#userPassword").val());
                usuarioObj.setName($("#userName").val());
                usuarioObj.setEmail($("#userEmail").val());
                usuarioObj.setAddress($("#UserAddress").val());
                usuarioObj.setNumber($("#userNumber").val());
                usuarioObj.setAddress2($("#userAddress2").val());
                usuarioObj.setCep($("#userCep").val());
                usuarioObj.setEstadoSelect($("#userEstadoSelect").val());
                usuarioObj.setCidadeSelect($("#userCidadeSelect").val());

                var userPasswordConfParam = $("#userPasswordConf").val();

                //validaLogin(usuarioObj, userPasswordConfParam);

                //validaUsuario(usuarioObj);

                validaEmail(usuarioObj);



                //$("#testeAlert").modal("show");
                alert();
            });


        });

        function validaLogin(objUser, passwordConfirmation) {
            if (objUser.getPassword() != passwordConfirmation) {
                alert("Password de Confirmação Inválido!");
                return false;
            }   
            return true;
        }

        function validaUsuario(objUser) {
            if (objUser.getUser() == "" || objUser.getUser().length < 5) {
                alert("O campo USUÁRIO deve ser preenchido com no minimo 5 letras");
                return false;
            }
            return true;
        }

        function validaPassword(objUser) {
            if (objUser.getPassword() == "" || objUser.getPassword().length < 5) {
                alert("O campo SENHA deve ser preenchido com no minimo 5 letras");
                return false;
            }
            return true;
        }

        function validaName(objUser) {
            if (objUser.getName() == "" || objUser.getName().length < 5) {
                alert("O campo NOME deve ser preenchido com no minimo 5 letras");
                return false;
            }
            return true;
        }

        function validaEmail(objUser) {
            var reg = "/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/";

            const regex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
            let m;

            if ((m = regex.exec(objUser.getEmail())) !== null) {
                // The result can be accessed through the `m`-variable.
                m.forEach((match, groupIndex) => {
                    console.log(`Found match, group ${groupIndex}: ${match}`);
                });
            }

            //if (objUser.getEmail() == "" || objUser.getEmail().length < 5) {
            //    alert("O campo NOME deve ser preenchido com no minimo 5 letras");
            //    return false;
            //}
            //return true;
        }

        function validaEstado(estado) {
            $("#userEstadoSelect option:selected").prop("selected", false);
            $("#userEstadoSelect option[id='" + estado + "']").prop("selected", true);
            carregaCidades(estado);
        }

        function carregaEstados() {
            var serviceURL = '/Home/GetEstados';

            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $("#userEstadoSelect").append("<option id='" + data[i].UF + "'>" + data[i].Name + "</option>");
                    }
                },
                error: errorFunc
            });

        }

        function carregaCidades(ufParam) {
            $("#userCidadeSelect option:not(:contains('noSelect'))").remove();
            var uf = { uf: ufParam };
            var serviceURL = '/Home/GetCidades';
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(uf),
                success: function (data, status) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $("#userCidadeSelect").append("<option id='" + data[i].Nome + "'>" + data[i].Nome + "</option>");
                    }
                    $("#userCidadeSelect option[id='" + cidade + "']").prop("selected", true);
                },
                error: errorFunc
            });

        }

        function buscaCEP() {

        }

        function login() {
            var serviceURL = '/Home/DoLogin';
            var testeObj = ObjUsuario();

            testeObj.setEmail($("#userEmail").val());
            testeObj.setPassword($("#userPassword").val());

            $.ajax({
                type: "POST",
                data: JSON.stringify(testeObj),
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    console.log(data);
                    window.location.href = data;
                },
                error: errorFunc
            });
        }

        function successFunc(data, status) {
            console.log(data);
            console.log(status);
            window.location.href = data;
        }

        function errorFunc(data, status) {
            console.log(data);
            console.log(status);
        }

        var ObjUsuario = (function () {

            var email = "";
            var password = "";
            var user = "";
            var name = "";
            var address = "";
            var number = "";
            var address2 = "";
            var cep = "";
            var estadoSelect = "";
            var cidadeSelect = "";

            return {

                getEmail: function () {
                    return this.email;
                },
                setEmail: function (emailParm) {
                    this.email = emailParm;
                },
                getPassword: function () {
                    return this.password;
                },
                setPassword: function (passwordParm) {
                    this.password = passwordParm;
                },
                setUser: function (userParm) {
                    this.user = userParm;
                },
                getUser: function () {
                    return this.user;
                },
                setName: function (nameParm) {
                    this.name = nameParm;
                },
                getName: function () {
                    return this.name;
                },
                setAddress: function (addressParm) {
                    this.address = addressParm;
                },
                getAddress: function () {
                    return this.address;
                },
                setNumber: function (numberParm) {
                    this.number = numberParm;
                },
                getNumber: function () {
                    return this.number;
                },
                setAddress2: function (address2Parm) {
                    this.address2 = address2Parm;
                },
                getAddress2: function () {
                    return this.address2;
                },
                setCep: function (cepParm) {
                    this.cep = cepParm;
                },
                getCep: function () {
                    return this.cep;
                },
                setEstadoSelect: function (estadoSelectParm) {
                    this.estadoSelect = estadoSelectParm;
                },
                getEstadoSelect: function () {
                    return this.estadoSelect;
                },
                setCidadeSelect: function (cidadeSelectParm) {
                    this.cidadeSelect = cidadeSelectParm;
                },
                getCidadeSelect: function () {
                    return this.cidadeSelect;
                }
            }

        });
    </script>
</body>
</html>
